
/*h1{
    color: red;
    font-size: 50px;
    background-color: black;
    
}*/

/*#root{
    background: blue;
}*/

.container {
    margin-top: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    padding-left: 10px;
}


 p{
     color:blue;
 }


 img{
     margin-right: 10px;
 }